<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área clientes de DisCor</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Animacion -->
    <link rel="stylesheet" href="../css/wickedcss.min.css">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="loader">

    </div>
    <header class="header">
        <section class="anner">




            <label for="menu-control" class="hamburger heartbeat">
                <i class="fa fa-bars fa-3x hamburger__icon" aria-hidden="true"></i>
            </label>


            <input type="checkbox" id="menu-control" class="menu-control">

            <aside class="sidebar container-fluid">

                <nav class="sidebar__menu">
                    <a href="../index.html">Inicio</a>
                    <a href="rubros.html">Rubros</a>
                    <a href="nuestra-empresa.html">Nosotros</a>
                    <a href="contacto.html">Contacto</a>
                    <a href="area-clientes.html">Clientes</a>
                </nav>

                <label for="menu-control" class="sidebar__close"></label>

                <ul class="sidebar__social">
                    <li>
                        <a href="https://instagram.com/info_discor/">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https">
                            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    
                </ul>
            </aside>


        </section>


    </header>
    <main class="mainAreaClientes">
        <h1>Descargá el programa DisCor o nuestra lista de precios</h1>
        <section>


            <!-- <div>
                <h3>Nuestro programa</h3>
                <a href="#">Descargalo aquí</a>
            </div>
            <div>
                <h3>Nuestra lista de precios</h3>
                <a href="#">Descargala aquí</a>
            </div> -->


            <article class="row">
                <div class="col col-sm-12 col-12 col-md-6 col-lg-6 bounceIn">
                    <h3 class="h3Clientes">Nuestro programa</h3>
                    <img class="imgClientes" src="../imagenes/icon-programa.png" alt="Nuestro Programa DisCor">
                    <br>
                    <a class="btnDefault" href="#">Descargalo aquí</a>
                    <br>
                </div>

                <div class="col col-sm-12 col-12 col-md-6 col-lg-6 bounceIn">
                    <h3 class="h3Clientes">Nuestra lista de precios</h3>
                    <img class="imgClientes" src="../imagenes/excel-icon.png" alt="Lista de Precios Excel">
                    <br>
                    <a class="btnDefault" href="#">Descargala aquí</a>
                    <br>
                </div>
            </article>



        </section>
        <br>
        
    </main>
    <footer>
        <p>All rights reserved</p>
    </footer>

    <script src="../scripts/script-loader.js"></script>
    <script src="https://use.fontawesome.com/e54b3494a2.js"></script>
    <script src="../scripts/script-resposive.js"></script>
</body>

</html>