<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto con DisCor</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Animacion -->
    <link rel="stylesheet" href="../css/wickedcss.min.css">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    
    <header class="header">
        <section class="anner">




            <label for="menu-control" class="hamburger heartbeat">
                <i class="fa fa-bars fa-3x hamburger__icon" aria-hidden="true"></i>
            </label>


            <input type="checkbox" id="menu-control" class="menu-control">

            <aside class="sidebar container-fluid">

                <nav class="sidebar__menu">
                    <a href="../index.html">Inicio</a>
                    <a href="rubros.html">Rubros</a>
                    <a href="nuestra-empresa.html">Nosotros</a>
                    <a href="contacto.html">Contacto</a>
                    <a href="area-clientes.html">Clientes</a>
                </nav>

                <label for="menu-control" class="sidebar__close"></label>

                <ul class="sidebar__social">
                    <li>
                        <a href="https://instagram.com/info_discor/">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https">
                            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    
                </ul>
            </aside>


        </section>


    </header>
    <main>
        <h2>Contáctate</h2>
        <div class="grid container-fluid slideUp">
            <div class="contactForm">
                <form class="form" id="form" name="form" action="https://formspree.io/f/mdoybjeg" method="POST">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="Nombre" required>
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email" required>
                    </p>
                    <p>
                        <label>Teléfono</label>
                        <input type="tel" name="Teléfono" required>
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="Asunto" required>
                    </p>
                    <p class="block">
                        <label>Mensaje</label>
                        <textarea name="Mensaje" rows="3" required></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="contactInfo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.3325421131503!2d-64.19344848485217!3d-31.404962781407924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6862cb26435ff85!2sDiscor%3A%20Cerrajer%C3%ADa%20y%20Accesorios!5e0!3m2!1ses!2sar!4v1635110821553!5m2!1ses!2sar" width="100%" height="850" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="contactoDire">
                    <a href="https://g.page/r/CYX_NWSyLIa2EBA">
                        Lorenzo Barcalá 665. B° San Martín
                    </a>
                    <h4>Número de
                        Teléfono:
                       +54(351)157638778</h4>
                    <h4>Email: <a href="mailto:discor@hotmail.com.ar">
                            discor@hotmail.com.ar</a></h4>
                                </div>
                </div>


           
        </div>

    </main>
    <footer>
        <p>All rights reserved...</p>
    </footer>
    <script src="../scripts/script-loader.js"></script>
    <script src="../scripts/script-resposive.js"></script>
    <script src="https://use.fontawesome.com/e54b3494a2.js"></script>
</body>

</html>