<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Rubros: DisCor</title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Animacion -->
    <link rel="stylesheet" href="../css/wickedcss.min.css">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="loader">

    </div>
    <header class="header">
        <section class="anner">




            <label for="menu-control" class="hamburger heartbeat">
                <i class="fa fa-bars fa-3x hamburger__icon" aria-hidden="true"></i>
            </label>


            <input type="checkbox" id="menu-control" class="menu-control">

            <aside class="sidebar container-fluid">

                <nav class="sidebar__menu">
                    <a href="../index.html">Inicio</a>
                    <a href="rubros.html">Rubros</a>
                    <a href="nuestra-empresa.html">Nosotros</a>
                    <a href="contacto.html">Contacto</a>
                    <a href="area-clientes.html">Clientes</a>
                </nav>

                <label for="menu-control" class="sidebar__close"></label>

                <ul class="sidebar__social">
                    <li>
                        <a href="https://instagram.com/info_discor/">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https">
                            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    
                </ul>
            </aside>


        </section>


    </header>
    <main class="rubrosMain">
        <!-- Amortiguadores de Portón y Capot

Accesorios del automotor

Botones Pulsadores

Burletes y Paravientos

Cerrajería del automotor

Carcasas para llaves

Clips y Broches de tapizado

Cilindros de Puerta, Baúl y más

Manijas Interiores, Exteriores y más

Máquinas manuales y eléctricas

Interruptores y mucho más... -->

        <h2 class="h2Rubros">Tenemos distintos rubros</h2>
        <div class="sectionRubros container-fluid">
            <section class="row  justify-content-start  align-items-center">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 align-items-center">
                    <ul >
                        <li>Amortiguadores de Portón y Capot</li>
                        <li>Accesorios del automotor</li>
                        <li>Cerrajería del Automotor</li>
                        <li>Botones Pulsadores</li>
                        <li>Carcasas para llaves</li>
                        <li>Manijas Interiores, Exteriores y más</li>
                        <li>Cilindros de puerta, baúl y más...</li>
                        <br><br>
                        <a class="btnIntro" href="contacto.html">Ser Cliente</a>
                    </ul>
                    
                </div>
                <div class="col col-12 col-lg-6 galeriaImg">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../imagenes/(Frenos).jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../imagenes/(Frenos).jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../imagenes/(Frenos).jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>

    </main>

    <footer>
        <p>All rights reserved...</p>
    </footer>
    <script src="../scripts/script-loader.js"></script>
    <script src="../scripts/script-resposive.js"></script>
    <script src="https://use.fontawesome.com/e54b3494a2.js"></script>
</body>

</html>